<div class="container photo-grid">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-1">
      <%= image_tag @photo["image_url"] %>
    </div>

    <div class="col-xs-5">
      <div class="row">
        <h1><%= @photo["name"] %></h1>
        <h4>By: <%= @photo["user"]["fullname"] %></h4>
      </div>
      <div class="row">
        <div class="col-xs-6 like-button">
          <% if current_user %>
            <% if @photo["liked"] %>
              <button class="btn btn-disabled">Liked <%= @photo["positive_votes_count"] %></button>
            <% else %>
              <%= link_to "/like/#{@photo["id"]}", method: :post, class: "btn btn-danger" do %>
                Like <%= @photo["positive_votes_count"] %>
              <% end %>
            <% end %>
          <% else %>
            <h4>Login to Like</h4>
            <button class="btn btn-disabled">Like <%= @photo["positive_votes_count"] %></button>
          <% end %>
        </div>
        <div class="col-xs-6 pulse">
          <h4>Pulse</h4>
          <%= @photo["rating"] %>
        </div>
      </div>
    </div>
  </div>
</div>
